<!DOCTYPE html>
<html>
<head>
  <title>Create Task</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
</head>
<body>
  <div class="container">
    <h2>Create Task</h2>
    <form method="POST">
      {% csrf_token %}
      <label>Title:</label>
      <input type="text" name="title" placeholder="Enter task title" required><br>
      
      <label>Description:</label>
      <textarea name="description" placeholder="Enter description"></textarea><br>
      
      <button type="submit">Create</button>
    </form>
    <a href="{% url 'task_list' %}">← Back to list</a>
  </div>
</body>
</html>