<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>My Tasks</title>
{% load static %}
  <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
</head>
<body>
<div class="container">
<div class="top-bar">
   <div>
<h2>Welcome </h2>
 </div>
<form method="POST" action="{% url 'logout' %}">
{% csrf_token %}
<button type="submit">Logout</button>
 </form>
</div>
<h1>Your Tasks</h1>
 <a href="{% url 'create_task' %}" >+ Create New Task</a>
 <br><br>
{% for task in tasks %}
<div class="task">
<div class="task-title">
{{ task.title }} {% if task.completed %}✅{% endif %}
</div>
<div>{{ task.description }}</div>
<div class="task-buttons">
 <a href="{% url 'update_task' task.id %}" class="update-btn">Edit</a>
 <a href="{% url 'delete_task' task.id %}" class="delete-btn">Delete</a>
 </div>
 </div>
{% empty %}
<p>No tasks found.</p>
 {% endfor %}
</div>
</body>
</html>
